/memisc_*.tar.gz
*.[oa]
*.so
*~
*.R*

/pkg/man/.Rhistory
/memisc
/extras
/requests
/test
/pkg.Rcheck
*.Rcheck
.gitignore
.Rhistory
/memisc_*.zip
/memisc_*.tar.gz
/mtable123.tex
/mtable123.txt
.Rproj.user
/lt23-10-1.tex
/lt23-10-2.tex
/lt789.tex
/memisc.Rproj
.RData
/texput.log
/memisc_0.95-39.tar.gz.backup.20130126
/memisc-clang-warnings.txt.mht
/memisc-0.96/memisc-0.96.Rproj
/memisc-0.96/.Rbuildignore
/memisc-clang-warnings.txt
