export(
      Simulate,
      default_bucket,
      textfile_bucket,
      put_into,
      pour_out,
      interrupt
      )

S3method(print,bucket)
S3method(dim,default_bucket)
S3method(as.matrix,default_bucket)
S3method(as.data.frame,default_bucket)
S3method(pour_out,default_bucket)
S3method(put_into,textfile_bucket)
S3method(pour_out,textfile_bucket)
S3method(dim,textfile_bucket)
S3method(as.data.frame,textfile_bucket)
S3method(as.matrix,textfile_bucket)
S3method("[",bucket)
