useDynLib(memisc)
import(stats,grid,lattice,methods,MASS)
importFrom(utils,toLatex,head,tail,capture.output,getFromNamespace)
export(
      cases,
      colrename,
      dimrename,
      mtable,
      write.mtable,
      getSummary,
      getSummary.glm,
      getSummary.lm,
      applyTemplate,
      getSummaryTemplate,
      setSummaryTemplate,
      getCoefTemplate,
      setCoefTemplate,
      recode,
      relabel,
      rename,
      rowrename,
      Simulate,
      default_bucket,
      textfile_bucket,
      put_into,
      pour_out,
      interrupt,
      trimws,
      Aggregate,
      genTable,
      Table,
      Table2,
      percent,
      percent2,
      marginal.table,
      By,
      Sapply,
      Lapply,
      sort.data.frame,
      to.data.frame,
      as.array,
      prediction.frame,
      Termplot,
      panel.errbars,
      retain,
      Foreach,
      syms,
      as.symbols,
      Substitute,
      collect,
      fapply,
      include,
      uninclude,
      detach.sources,
      UnZip,
      "%nin%",
      getSummary.clm,        # Christopher N. Lawrence
      getSummary.polr,
      getSummary.simex,
      getSummary.expcoef,    # Dave Atkins
      getSummary.expcoef.glm,
      getSummary.aftreg,     # Jason Morgan
      getSummary.coxph,      
      getSummary.phreg,
      getSummary.survreg,
      getSummary.weibreg,
      getSummary.mer,
      getSummary.ivreg,       # Achim Zeileis
      getSummary.tobit,
      getSummary.hurdle,
      getSummary.zeroinfl,
      getSummary.betareg,
      getSummary.multinom
      )
S3method(getSummary,lm)
S3method(getSummary,glm)
S3method(getSummary.expcoef,glm)
S3method(print,mtable)
S3method(format,mtable)
S3method(toLatex,default)
S3method(toLatex,matrix)
S3method(toLatex,mtable)
S3method(toLatex,ftable)
S3method(relabel,mtable)
S3method(Termplot,default)
S3method(relabel,default)
S3method(relabel,factor)
S3method(reorder,matrix)
S3method(reorder,array)
S3method(prediction.frame,default)
S3method(collect,default)
S3method(collect,matrix)
S3method(collect,array)
S3method(collect,table)
S3method(collect,data.frame)
S3method(collect,data.set)
S3method(collect,by)
S3method(fapply,default)
S3method(Table,default)
S3method(Table,factor)
S3method(Table2,default)
S3method(Table2,factor)
S3method(percent,default)
S3method(percent,logical)
S3method(percent,table)
S3method(percent2,default)
S3method(percent2,logical)
S3method(By,default)
S3method(By,data.frame)
S3method(print,bucket)
S3method(dim,default_bucket)
S3method(as.matrix,default_bucket)
S3method(as.data.frame,default_bucket)
S3method(pour_out,default_bucket)
S3method(put_into,textfile_bucket)
S3method(pour_out,textfile_bucket)
S3method(dim,textfile_bucket)
S3method(as.data.frame,textfile_bucket)
S3method(as.matrix,textfile_bucket)
S3method("[",bucket)
S3method(cbind,ftable)
S3method(rbind,ftable)
S3method(cbind,ftable_matrix)
S3method(rbind,ftable_matrix)
S3method(format,ftable_matrix)
S3method(write,ftable_matrix)
S3method(print,ftable_matrix)
S3method(toLatex,ftable_matrix)
S3method(c,mtable)
S3method("[",mtable)