useDynLib(memisc)
import(stats,grid,lattice,methods,MASS)
importFrom(utils,toLatex,head,tail,capture.output,getFromNamespace)
export(
      cases,
      colrename,
      dimrename,
      mtable,
      write.mtable,
      getSummary,
      getSummary.glm,
      getSummary.lm,
      getSummary.polr,
      getSummary.simex,
      getSummary.lmer,
      getSummary.mer,
      getSummary.expcoef,
      getSummary.expcoef.glm,
      getSummary.clm,
      applyTemplate,
      getSummaryTemplate,
      setSummaryTemplate,
      getCoefTemplate,
      setCoefTemplate,
      recode,
      relabel,
      rename,
      rowrename,
      Simulate,
      default_bucket,
      textfile_bucket,
      put_into,
      pour_out,
      interrupt,
      trimws,
      Aggregate,
      genTable,
      Table,
      percent,
      percent.default,
      percent.logical,
      By,
      Sapply,
      Lapply,
      sort.data.frame,
      to.data.frame,
      as.array,
      prediction.frame,
      Termplot,
      retain,
      #split.matrix,
      #coll.arrays,
      #coll.vectors,
      #toLatex.ftable,
      Foreach,
      syms,
      as.symbols,
#       xapply,
      Substitute,
      collect,
      fapply,
      include,
      uninclude,
      detach.sources,
      UnZip,
      "%nin%"
      )
S3method(getSummary,lm)
S3method(getSummary,glm)
S3method(getSummary.expcoef,glm)
S3method(print,mtable)
S3method(format,mtable)
S3method(toLatex,default)
S3method(toLatex,matrix)
S3method(toLatex,mtable)
S3method(toLatex,ftable)
S3method(relabel,mtable)
S3method(Termplot,default)
S3method(relabel,default)
S3method(relabel,factor)
S3method(reorder,matrix)
S3method(reorder,array)
S3method(prediction.frame,default)
S3method(collect,default)
S3method(collect,matrix)
S3method(collect,array)
S3method(collect,table)
S3method(collect,data.frame)
S3method(collect,data.set)
S3method(collect,by)
S3method(fapply,default)
S3method(Table,default)
S3method(Table,factor)
S3method(Table2,default)
S3method(Table2,factor)
S3method(percent,default)
S3method(percent,logical)
S3method(percent2,default)
S3method(percent2,logical)
S3method(By,default)
S3method(By,data.frame)
S3method(print,bucket)
S3method(dim,default_bucket)
S3method(as.matrix,default_bucket)
S3method(as.data.frame,default_bucket)
S3method(pour_out,default_bucket)
S3method(put_into,textfile_bucket)
S3method(pour_out,textfile_bucket)
S3method(dim,textfile_bucket)
S3method(as.data.frame,textfile_bucket)
S3method(as.matrix,textfile_bucket)
S3method("[",bucket)
# S3method(groupwise,default)
